<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Load d3.js -->
    <script src="https://d3js.org/d3.v6.js"></script>
    <!-- Load color palette -->
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">
	</script>

    <!-- defined functions and styles-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" type="text/css" href="static/css/page.css">
    <link rel="stylesheet" type="text/css" href="static/css/component.css">
    <link rel="stylesheet" type="text/css" href="static/css/adjust4screen.css">
	<script src="{{ url_for('static', filename='javascript/d3draw-kg.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='javascript/display-node-properties.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='javascript/recommend.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='javascript/progress_bar_action.js') }}" type="text/javascript"></script>
    <!-- intro animation files -->
    <link rel="stylesheet" type="text/css" href="static/css/anime.css">
    <script src="{{ url_for('static', filename='javascript/anime.js') }}" type="text/javascript"></script>
    <!-- user testing guidance -->
    <link rel="stylesheet" type="text/css" href="static/css/guide.css">
    <script src="{{ url_for('static', filename='javascript/guide.js') }}" type="text/javascript"></script>
</head>
<body>

    <!-- intro animation starts -->
    <div class="introG">
      <img class="gungL" src="{{ url_for('static', filename='img/ui/gungL.png')}}" alt="gung character">
      <img class="gungR" src="{{ url_for('static', filename='img/ui/gungR.png')}}" alt="gung character">
    </div>

    <div class="intro">
      <img class="lamlogo" src="{{ url_for('static', filename='img/ui/lamlogo.png')}}" alt="Lam Family Hung Gar">
      <img class="title" src="{{ url_for('static', filename='img/ui/title.png')}}" alt="HUNG KUEN Gung Gee Fook Fu Kuen">
      <button class="button_start"><span>start</span></button>
    </div>
    <!-- intro animation ends -->

    <div class="guide1">
        <div class="gd_box gdb1">
            <img class="gd1" src="{{ url_for('static', filename='img/ui/guide.png')}}" alt="User Guide">
        </div>
        <button class="next next1">Next</button>

        <div class="gd_box gdb2">
            <img class="gd2" src="{{ url_for('static', filename='img/ui/guide2.png')}}" alt="User Guide">
        </div>
        <button class="next next2">Next</button>

        <div class="gd_box gdb3">
            <img class="gd3" src="{{ url_for('static', filename='img/ui/guide2-2.png')}}" alt="User Guide">
        </div>
        <button class="endgd next">All is clear. Let's get started!</button>
    </div>
    <div class="page" id="page1">
        <div class="testonly">This application is for testing purposes.</div>
        <div class="header_rec">
            <img src="{{ url_for('static', filename='img/ui/header.png')}}" style ="width: 100%;" alt="HUEN KUEN"></div>

        <div id="nodeLabel" class="node-label"></div>

        <div class="legend_rec"><img src="{{ url_for('static', filename='img/ui/legend1.png')}}" style="width:100%" alt="legend"></div>

        <div class="footer_rec tooltip">
            <img class="footer_icon" src="{{ url_for('static', filename='img/ui/info.png')}}" alt="info">
            <span class="tooltiptext tooltiptext_f" style="color:white; font-size:1em">Click to view the legend, or <a href="{{ url_for('static', filename='guide.html')}}" target="_blank">Open User Guide.</a></span>
            <!-- This Arc Diagram overviews all the forms within the set of Gung Gee Fok Fu Kuen. Each node represents a form, each link signifies a relation between them, and the size of each node implies the number of relationships it has. -->
            
        </div>

{#        <div class="point">#}
{#            <img class="here" src="{{ url_for('static', filename='img/ui/hand-point-right.svg')}}" alt="info"></div>#}
{#        </div>#}
    </div>

    <div class="page" id="page2">
        <div class="testonly test2">This application is for testing purposes. </div>
        <div class="container">
            <div class="progress-bar">
                <div class="header_e door-icon">
                    <img src="{{ url_for('static', filename='img/ui/header-e.png')}}" style ="width: 100%;" alt="HUEN KUEN">
                </div>

                <div class="legend_s">
                    <img src="{{ url_for('static', filename='img/ui/legend2-2.svg')}}" style="width:100%" alt="legend">
                </div>

                <div class="search">
                    <span class="searchtext">Search</span>
                </div>
                <input type="text" id="searchInput" class="hidden" placeholder="Form name (e.g. 一揸一抽轉一分 or Pulling back the fist to launch a back fist punch) or RDF label numbers (e.g. 34)...">
                <div id="suggestions" class="hidden"></div>

                <div class="side-bar tooltip">
                    <img src="{{ url_for('static', filename='img/ui/side-bar2.svg')}}" style="width:100%" alt="legend">
                    <span class="tooltiptext tooltiptext_h">This Node Bar suggests forms based on their relations with the currently viewed one. Or, if you want to explore other nodes, first de-select the current one by clicking it, and then click the node you wish to jump to.<br>Click here to see the legend.</span>
                </div>

                <div id="circle-container">
                    <div class="play-button-container">
                        <button class="play-button">Auto Play</button>
                    </div>
                    <svg id="circle-bar">
                        <defs>
                            <filter id="glow">
                                <feGaussianBlur stdDeviation="2.5" result="coloredBlur"/>
                                <feMerge>
                                    <feMergeNode in="coloredBlur"/>
                                    <feMergeNode in="SourceGraphic"/>
                                </feMerge>
                            </filter>
                        </defs>
                    </svg>
                </div>
            </div>
            <div class="video">
                <video id="myVideo" controls>
                      <source src="{{ url_for('static', filename='video/video_lowres.mp4') }}" type="video/mp4">
                </video>
                <script src="{{ url_for('static', filename='javascript/playVideoSegment.js') }}" type="text/javascript"></script>
            </div>
{#            <div class="kg">#}
                <div class="kg" id="kg-text">
                    <h2 id="zh_name"></h2>
                    <h3 id="en_name"></h3>
                    <p id="description"></p>
                    <a id="uri"></a>
                </div>


                <div id="info-box" class="info-box">
                    <span id="close-btn" class="close-btn">&times;</span>
                    <div id="info-content"></div>
                </div>
                <div class="kg" id="kg-viz">
                    <span class="material-symbols-outlined" id="fullscreen-toggle">fullscreen</span>
                    <span class="material-symbols-outlined" id="smallscreen-toggle">fullscreen_exit</span>
                    <div id="tooltip_node" class="tooltip"></div>
                    <div class="footer_e">
                        <img src="{{ url_for('static', filename='img/ui/footer-e.png')}}" style="width: 100%;" alt="info">
                    </div>
                    <div class="legend_e">
                        <img src="{{ url_for('static', filename='img/ui/legend22.svg')}}" style="width:100%" alt="legend">
                    </div>
                </div>
{#            </div>#}
        </div>
    </div>
    <script src="{{ url_for('static', filename='javascript/kg-form.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='javascript/progress_bar.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='javascript/makeKGlarger.js') }}" type="text/javascript"></script>
</body>
</html>
