@media (max-width: 1024px) {
    #kg-text {
        height: auto;
        width: auto;
        padding: 1em;
    }

    #kg-text h2, #kg-text h3, #kg-text p, #kg-text a {
        font-size: calc(0.75em + 1vw);
        line-height: 1.2;
    }

    #kg-text h2, #kg-text h3, #kg-text p, #kg-text a {
        position: static;
        left: 0;
        top: 0;
    }
}

#kg-text {
    overflow-wrap: break-word;
}
