.intro {
  text-align: center;
}

.title {
  width:22%;
  position:absolute;
  left: 39%;
  top:80px;
  opacity:0.9;
  animation-name: appear_t;
  animation-duration: 2.5s;
}

.lamlogo {
  width:22%;
  position:absolute;
  left: 39%;
  top:80px;
  opacity:0.4;
  animation-name: appear;
  animation-duration: 2.5s;
}


.button_start span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button_start span:after {
  content: ' \0270A';
  font-size: 26px;
  position: absolute;
  opacity: 0;
  top: -8px;
  left: 40px;
  transition: 0.5s;
}

.button_start:hover span {
  padding-right: 25px;
}

.button_start:hover span:after {
  opacity: 1;
  right: 0;
}

.button_start {
  width: 10%;
  height: 6%;
  position:absolute;
  left: 45%;
  top: 52%;
  border-radius: 20px;
  border: none;
  background-color: #e5dbcc;
  font-size: 1em;
  font-family: cursive;
  font-weight: bold;
  animation-name: appear_b;
  animation-duration: 2.8s;
  cursor: pointer;
}

@keyframes appear {
  0%   {opacity:0.1;width:36%; left: 32%; top:0%;}
  50% {opacity:1;width:36%; left: 32%; top:0%;}
  75% {opacity:1;width:36%; left: 32%; top:0%;}
}

@keyframes appear_t {
  0%   {opacity:0;width:36%; left: 32%; top:0%;}
  15%   {opacity:0;width:36%; left: 32%; top:0%;}
  60% {opacity:1;width:36%; left: 32%; top:0%;}
  75% {opacity:1;width:36%; left: 32%; top:0%;}
}

@keyframes appear_b{
  0%   {opacity:0;}
  85% {opacity:0;}
}

.fadeout{
  animation-name: disappear;
  animation-duration: 1s;
}

@keyframes disappear {
  from {opacity: 1;}
  to {opacity: 0;}
}

.introG{
  width: 100%;
  position:absolute;
  top:-30%;
  left: 0%;
  display: none;
}

.gungL{
  width: 50%;
  position:absolute;
  left: 1%;
}

.gungR{
  width: 50%;
  position:absolute;
  right: 1%;
}

.largein{
  animation-name: largein;
  animation-duration: 3s;
}

.moveL{
  animation-name: moveL;
  animation-duration: 3s;
}

.moveR{
  animation-name: moveR;
  animation-duration: 3s;
}

@keyframes largein {
  0% {width: 10%; top: 40%; left: 45%; }
  40% {width: 100%; top:-30%; left: 0; }
  100% {width: 100%; top:-30%; left: 0; }
}

@keyframes moveL {
  0% {left: 1%;  }
  40% {left: 1%;  }
  100% {left: -51%;  }
}

@keyframes moveR {
  0% {right: 1%;  }
  40% {right: 1%;  }
  100% {right: -51%;  }
}

.appear{
  animation-name: appear_vis;
  animation-duration: 1s;
}

@keyframes appear_vis {
  from {opacity:0.1;}
  to {opacity:1;}
}


.legend_rec{
    z-index: 999;
    height: 100px;
    width: 200px;
    position: absolute;
    right: 0px;
    bottom: 30px;
    display: none;
}

.unfolded{
  animation-name: unfold;
  animation-duration: 0.5s;
}

.folded{
  animation-name: fold;
  animation-duration: 0.5s;
}

@keyframes unfold {
  from {height: 0px;}
  to {height: 100px;}
}

@keyframes fold {
  from {height: 100px; opacity: 1}
  to {height: 0px; opacity: 0}
}


.header_rec{
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 45px;
}

.footer_rec{
    z-index: 998;
    position: absolute;
    bottom: 5px;
    right: 1px;
    width: 100px;
    height: 30px;
    background-color: #e5dbcc;
    cursor: pointer;
    text-align: center;
}

.footer_icon{
    height: 24px;
    padding-top: 3px;
    cursor: pointer;
}

.header_e{
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 13%;
    /*height: 200px;*/
    cursor: pointer;
}

.footer_e{
    z-index: 998;
    position: absolute;
    bottom: 2px;
    right: 1px;
    width: 75px;
    height: 75px;
    cursor: pointer;
}

.legend_e{
    z-index: 999;
    height: 227px;
    width: 220px;
    position: absolute;
    right: 0px;
    bottom: 5px;
    display: none;
}

.unfolded_e{
  animation-name: unfold_e;
  animation-duration: 0.5s;
}

.folded_e{
  animation-name: fold_e;
  animation-duration: 0.5s;
}

@keyframes unfold_e {
  from {height: 0px;}
  to {height: 240px;}
}

@keyframes fold_e {
  from {height: 240px; opacity: 1}
  to {height: 0px; opacity: 0}
}

.side-bar{
    z-index: 998;
    position: absolute;
    right: 10px;
    width: 25px;
    /*height: 150px;*/
    cursor: pointer;
    top: 40px;
    right: 3em;
}

.legend_s{
    z-index: 1001;
    height: 200px;
    width: 200px;
    position: absolute;
    right: 15px;
    top: 40px;
    display: none;
}

.unfolded_s{
  animation-name: unfold_s;
  animation-duration: 0.5s;
}

.folded_s{
  animation-name: fold_s;
  animation-duration: 0.5s;
}

@keyframes unfold_s {
  from {width: 0px;}
  to {width: 200px;}
}

@keyframes fold_s {
  from {width: 200px; opacity: 1}
  to {width: 0px; opacity: 0}
}

.point {
    width: 30px;
    height: 30px;
    z-index: 998;
    position: absolute;
    bottom: 110px;
}

.here {
  width: 100%;
  height: auto;
  position: absolute;
  left: 25%;
  transform: translateX(-30%);
  animation: swing 2s infinite;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}

@keyframes swing {
  0%, 100% {
    transform: translateX(-30%);
  }
  50% {
    transform: translateX(calc(25px + 30%));
  }
}


/* Tooltip container */
.tooltip {
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 17em;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 10px 15px;
  border-radius: 6px;
  font-size: 0.8em;
  position: absolute;
  z-index: 1000;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltiptext_h {
  left: -17em;
  top: 15px;
}

.tooltiptext_f {
  left: -14em;
  bottom: 15px;
}
