.selected-node {
    stroke-width: 0.1875em;
    stroke: #777076;
    cursor: pointer;
    r: 0.9375em;
}

#tooltip_node {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 1.5%;
    top: 2.5%;
    text-align: left;
    font-size: 0.875em;
    background: #F3E5DC;
    border: 0px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    pointer-events: none;
    opacity: 0;
    z-index: 99;
    height: auto !important;
    min-height: 4em;
    max-height: 8em;
}

.kg-viz-svg {
    width: 100%;
    left: 0;
    top: 0;
    font-family: sans-serif;
}

.info-box {
    position: absolute;
    border: 1px solid #888;
    padding: 1.2em 1.3em 0.5em 1.3em;
    display: none;
    font-family: Radikal_Bold, serif;
    background: rgb(246 245 245 / 0.94);
    z-index:10000;

}

#info-content {
    word-wrap: break-word;
    max-width: 16em;
}

.close-btn {
    position: absolute;
    top: 0.1em;
    right: 0.4em;
    font-size: 2.18em;
    cursor: pointer;
    color: #a3a3a3;
}

.close-btn:hover {
  color: #555;
}

.theme{
    margin-bottom: 0.8em;
    font-size: 1.2em;
    text-align: left;
}

.title-inb {
    font-family: Radikal_Bold, sans-serif;
    margin-right: 0.6em;
}

.content {
    display: block;
    font-family: 'Radikal Light', sans-serif;
}

.info-group .title-inb {
    display: block;
}

.info-group {
    margin-bottom: 0.8em;
    font-size: 1em;
}

.info-group:not(:last-child) .content {
  margin-bottom: 0.15em;
}

.label-content {
    padding: 0.2em 0.3em 0.2em 0.3em;
    border-radius: 8px;
    display: inline-block;
}

/* Group 1 - techniques */
.group-1 {
    background-color: #412524;
    color: white;
}

/* Group 2 - principle and symbolism */
.group-2 {
    background-color: #883a19;
    color: white;
}

/* Group 3 - Forms */
.group-3 {
    background-color: #be5f1b;
}

/* Group 4 - tactic and application */
.group-4 {
    background-color: #df8b46;
}

/* Group 5 - significant concepts */
.group-5 {
    background-color: #c7a46a;
}

/* Group 6 - information objects insignificant */
.group-6 {
    background-color: #cabcab;
}

/* Default background for others */
.default-background {
    background-color: #F5F5F5; /* White Smoke */
}

.subgroup-1 {
    border: 3px solid #6a994e;
}
.subgroup-2 {
    border: 3px solid #be95c4;
}
.subgroup-3 {
    border: 3px solid #f4d35e;
}
.subgroup-4 {
   border: 3px solid #ec9192;
}

.selected circle {
  r: 0.75em;
  stroke: grey;
  stroke-width: 0.2em;
}


.freeze {
    pointer-events: none;
    opacity: 1;
}

.freeze .play-button, .freeze .video {
    pointer-events: all;
    opacity: 1;
}


@font-face{
    font-family: Radikal_Bold;
    src: url("./Radikal_Bold.ttf");
}

@font-face {
    font-family: "Radikal Light";
    src: url("https://db.onlinewebfonts.com/t/a7871af1be95d79073ec83baeff91c4b.eot");
    src: url("https://db.onlinewebfonts.com/t/a7871af1be95d79073ec83baeff91c4b.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/a7871af1be95d79073ec83baeff91c4b.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/a7871af1be95d79073ec83baeff91c4b.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/a7871af1be95d79073ec83baeff91c4b.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/a7871af1be95d79073ec83baeff91c4b.svg#Radikal Light")format("svg");
}

@keyframes flicker {
    0%, 100% {
        opacity: 0.5;
        r: 0.5em;
  }
    50% {
        opacity: 1;
        r: 0.9375em;
  }
}

.reco-nodes {
    animation: flicker 2s infinite alternate;
    transform-origin: center;
    cursor: pointer;
}

#uri {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
      position: absolute;
      right: 2%;
      top: 2%;
      z-index: 100;
      cursor: pointer;
      font-size: 2em;
}

#fullscreen-toggle {
    display: block;
}

#smallscreen-toggle{
    display: none;
}

#kg-viz.expanded {
    width: 60vw;
    height: 88vh;
    right: 75%;
    bottom: -30%;
    transform: translate(-50%, -30%);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
    z-index: 9999;
}


#kg-viz.fullscreen .kg-viz-svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#kg-text::-webkit-scrollbar {
    width: 10px;
}

#kg-text::-webkit-scrollbar-track {
    background: #f1f1f1;
}

#kg-text::-webkit-scrollbar-thumb {
    background: #888;
}

#kg-text::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*#startTimeSelect {*/
/*    position: absolute;*/
/*    top: 7%;*/
/*    left: 0.5%;*/
/*    height: 3.5%;*/
/*}*/