
.welcome{
  width: 38%;
  padding: 1.6em;
  border: 4px outset #f2e0c8;
  background-color: RGB(252, 248, 244, 0.1);
  text-align: center;
  position: absolute;
  left: 29%;
  top: 30%;
}

.welconfirm{
  background-color: white;
  border: 2px solid #f2e0c8;
  width: 66%;
  height: 3em;
  text-align: center;
  margin: 0.3em;
  font-family: cursive;
}


.welconfirm:hover {
  background-color: #fcf8f4;
}

.welconfirm a{
  color: black;
  font-size: 1em;
  padding: 5px;
  /*text-decoration: none;*/
}

.guide1{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
  background-color: rgb(220, 220, 220, 0.7);
  display: none;
  opacity: 0.5;
}

.arrow{
  position: absolute;
  left: 5%;
  bottom: 120px;
  width: 90%;
}

.testonly{
  width: auto;
  max-width: 35em;
  font-size: 0.8em;
  color: red;
  position: absolute;
  top: 0;
  right: 0;
  background: rgb(245,245,245);
  padding: 0.6em;
  font-weight: bold;
}

.gd_box{
  width: 100%
  position: absolute;
  top: 0%;
  left: 0%;
}


.next{
  width: 18em;
  height: 3.5em;
  position: absolute;
  top: 40%;
  left: 47%;
  border-radius: 5px;
  border: #f2e0c8 solid 4px;
  background-color: white;
  font-size: 0.9em;
  font-family: cursive;
  font-weight: bold;
  cursor: pointer;
  padding: 0.5em;
}

.next:hover{
  background-color: #f2e0c8;
}
.endgd{
  display: none;
  z-index: 1001;
  top: 80%;
  left: 10%;
  font-size: 1.1em;
}

.next1{
  width: 9em !important;
}

.next2{
  display: none;
  left: 49%;
  top: 52%;
  width: 9em !important;
}

.gd1{
  width: 100%;
}

.gd2{
  width: 100%;
  display: none;
}

.gd3{
  width: 100%;
  display: none;
}


.infotask1{
  width: 34em;
  background-color: rgb(242, 224, 200, 0.8);
  position: absolute;
  top: 18%;
  left: 5%;
  border-radius: 5px;
  padding: 1em 2em;
  font-size: 1.2em;
  font-family: cursive;
  display: none;
}

.oktask1{
  width: 6em;
  height: 2em;
  border: #F3E5DC solid 2px;
  background: white;
  font-family: cursive;
  color: #111;
}

.oktask1:hover{
  border: red solid 2px;
  background: #f2e0c8;
}

.disap{
  animation-name: disappear;
  animation-duration: 0.6s;
}

.btntask{
  width: 10em;
  padding: 1em 2em;
  border: #F3E5DC solid 2px;
  background: #F3E5DC;
  font-family: cursive;
  color: #111;
  position: absolute;
  top: 6%;
  right: 1em;
  display: none;
  font-size: 1.1em;
}

.btntask:hover{
  border: red solid 2px;
  background: #f2e0c8;
}

.imgtask1{
  width: 40%;
  position: absolute;
  top: 35%;
  left: 10%;
  display: none;
}

.closeimg{
  position: absolute;
  top: 35%;
  left: 42%;
  width: 8%;
  display: none;
  padding: 0.5em 0.8em;
  background-color: rgba(242, 224, 200, 0.4);
  font-size: 1em;
  font-family: cursive;
}

.closeimg:hover{
  border: red solid 2px;
  background: #f2e0c8;
}


.infonode{
  width: 38em;
  background-color: rgb(242, 224, 200, 0.8);
  position: absolute;
  top: 20%;
  right: 1%;
  border-radius: 5px;
  padding: 1em 1.5em;
  font-size: 1.1em;
  line-height: 1.8em;
  font-family: cursive;
  display: none;
}

.guide2{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
  background-color: rgb(220, 220, 220, 0.7);
  display: none;
  opacity: 0.5;
}


.test2{
  font-size: 0.8em;
  padding: 0.2em;
  z-index: 100;
}
