body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Serif HK', serif;
}


.page{
    z-index: 1;
    /*text-align: center;*/
}

#page1 {
    transition: opacity 2s;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fefefe;
    overflow: hidden;
}

.node-label {
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1;
    color: #3a3a3a;
    text-align: left;
    word-wrap: break-word;
    max-width: 33%;
    position: absolute;
    top: 5em;
    left: 5em;
    padding: 0.315em;
    background-color: transparent;
    display: none;
    transition: all 0.3s ease;
}

#nodeLabel .zh {
    font-size: 2em;
    text-shadow: 0 0.1875em 0.3125em rgba(0, 0, 0, 0.3);
}

#nodeLabel .en {
    font-size: 1.75em;
    text-shadow: 0 0.125em 0.1875em rgba(0, 0, 0, 0.3);
}

#page2 {
    transition: opacity 2s;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    background-color: #fefefe;
}

.container{
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 70vw 30vw;
    grid-template-rows: 30vh 70vh;
    overflow: hidden;
}

.progress-bar{
    position: relative;
    background-color: transparent;
    grid-column-start:1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

#circle-container {
    width:100%;
    height:100%;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video{
    position: relative;
    background-color: transparent;
    grid-column-start:1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.progress-bar, .video{
    height: 100%;
}

.play-button-container {
    position: absolute;
    top: 65%;
    left: 2%;
    z-index: 10;
    width: 7%;
}

.play-button {
    background-color: #818380;
    width: 100%;
    color: white;
    padding: 0.5vh 0.5vw;
    border: none;
    border-radius: 5px;
    font-size: 1.5vh;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-family: 'Arial', sans-serif;
}

#myVideo{
    position: absolute;
    top: 2%;
    left: 10%;
    width: 82%;
    background-color: #f4f4f4;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    overflow: hidden;
}

#circle-bar{
    position: absolute;
    opacity: 1;
    width: 100%;
    height: 100%;
}

.progress-bar .dynamic-img {
    z-index: 1000;
}

#kg-text {
    position: relative;
    grid-column-start:2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    height:95%;
    width: 98%;
    text-align: left;
    top: 5%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0.2em;
}

#kg-viz {
    position: relative;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 95.5%;
    width: 98%;
    bottom: 2%;
    top: 2.5%;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    overflow: hidden;
    transition: transform 0.5s ease, width 0.5s ease, height 0.5s ease, left 0.5s ease, bottom 0.5s ease;
}

.play-button:hover {
    background-color: #544c4a;
}

.play-button:active {
    background-color: #363636;
    transform: scale(0.95);
}

#kg-text h2 {
    font-size: 2em;
    top: 2%;
    left: 2%;
    line-height: 0;
    position: relative;
    text-shadow: 0 0.05em 0.375em rgba(0, 0, 0, 0.2);
}

#kg-text h3 {
font-size: 1.5em;
  line-height: 1;
  position: relative;
  top: 2%;
  left: 2%;
  margin-bottom: 0.01em;
  word-wrap: break-word;
  max-width: 96%;
  text-shadow: 0 0.05em 0.375em rgba(0, 0, 0, 0.2);
}

#kg-text h3:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, rgba(58,58,58,1) 0%, rgba(58,58,58,0.6) 15%,
                                rgba(58,58,58,0.3) 60%, rgba(58,58,58,0) 96%);
    margin-top: 10px;
    margin-bottom: 15px;
}

#kg-text p {
font-size: 1.1em;
  line-height: 1.2;
  position: relative;
  left: 2%;
  word-wrap: break-word;
  max-width: 96%;
  margin-top: 0.1em;
  margin-bottom: 0.4em;
}

#kg-text a {
    font-size: 0.9em;
    position: relative;
    left: 2%;
    line-height: 0.3;
    word-wrap: break-word
}

.search {
    position: absolute;
    top: -0.5em;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    width: 2em;
    height: 1em;
    border-radius: 50%;
    background-color: #F3E5DC;
    z-index: 3000;
    cursor: pointer;
    transition: all 0.3s ease;
}

.search:hover {
    width: 4em;
}

.searchtext {
  visibility: hidden;
  width: 3em;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 0.8em;
  position: absolute;
  z-index: 3000;
  left: 2em;
  top: 1.5em;
}

.search:hover .searchtext {
  visibility: visible;
}

.hidden {
    display: none;
}

#searchInput {
    width: 73%;
    height: 2.2em;
    border-radius: 0 0 0.6em 0.6em;
    background-color: transparent;
    transition: all 0.3s ease;
    left: 18%;
    position: absolute;
    z-index: 3001;
    border: transparent;
}

#searchInput:focus {
    outline: none;
}

#suggestions {
    position: absolute;
    border: 1px solid #ddd;
    border-top: none;
    z-index: 30002;
    background-color: white;
    width: 74%;
    left: 18%;
    top: 1.7em;
}

#suggestions div {
    padding: 0 10px 0 10px;
    cursor: pointer;
    line-height: 2em;
    height: 1.7em;
}

.active, #suggestions div:hover {
    background-color: #f3e5dc;
}




